.logo a img {
    width: 15rem;
    position: fixed;
    z-index: 2;
}

@media only screen and (max-width: 740px) {
    .logo a img {
        width: 10rem;
    }
}

@media only screen and (max-height: 450px) {
    .logo a img {
        width: 10rem;
    }
}