body {
    height: 100vh;
    font-family: 'Kanit', sans-serif;
	font-weight: 800;
    .carousel .slide {
        background: #3ae5fd;
    
    img {
        height: 100vh;
        object-fit: cover;
    }
}

}
.carousel .control-dots {
    padding: 0;
}